.cart-container {
  width: 80%;
  margin: 14rem auto;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 50%,
    rgb(251, 205, 205) 80%,
    rgb(251, 205, 205) 100%
  );
  border-radius: 1rem;
  padding: 5rem 0;
  border: 1px solid rgb(236, 236, 236);
}
.cart-wrapper .cart-heading {
  font-weight: 500;
  display: flex;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
}
.cartitem-continueshopping {
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
  margin: 1rem 2rem 1rem 0;
  cursor: pointer;
}
.cartitem {
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem auto;
  width: 90%;
  box-shadow: 2px 7px 70px -2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 2px 7px 70px -2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 7px 70px -2px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
}

.cartitem-img {
  width: 20rem;
  height: 20rem;
}
.cartitem-img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.cart-container .cart-wrapper .cartitem {
  display: flex;
}
.cartitem-description {
  width: 100%;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  margin: 1rem 0 1rem 2rem;
}
.cartitem-description select {
  width: 5rem;
  height: 3rem;
  margin-bottom: 0.5rem;
}

.cartitem-description .cartitem-name {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.cartitem-description .cartitem-restorant {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
.cartitem-description .cartitem-price {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.cartitem-description Button {
  margin: 1rem 0;
  width: 10rem;
}

.cartitem-subtotal {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0.5rem auto;
}
.cart-container Button {
  background: rgb(190, 190, 190);
}
