.fooditem {
  padding: 10px;
  margin: 2rem 0;
}
.fooditem:hover {
  box-shadow: 10px 0px 5px 2px rgba(0, 0, 0, 0.2);
}
.fooditem-wrapper {
  display: flex;
}
.fooditem-wrapper .food-img img {
  border-radius: 5px;
}

.food-content {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}
.food-content h3 {
  font-size: 2rem;
}
.food-content span {
  font-size: 1.8rem;
  margin: 0.2rem;
}
.food-button {
  display: flex;
  text-align: center;
  width: 30rem;
}
.food-button Button {
  margin: 0 2rem 0 0;
}
