.herodeal-card-wrapper {
  /* border: 2px solid green; */
  width: 100%;
  height: 80vh;
  background: white;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.herodeal-card-wrapper:before {
  content: "";
  background-color: rgba(255, 0, 0, 0.15);
  width: 800px;
  height: 800px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 60%;
  transform: translateY(-50%);
}
.herodeal-card-wrapper.even:before {
  top: 50%;
  left: 60%;
}
.herodeal-img img {
  position: absolute;
  width: 55rem;
  height: 35rem;
  top: 20%;
  left: 15%;
  border-radius: 10px;
  box-shadow: 7px 8px 8px -1px rgba(166, 158, 158, 0.75);
  -webkit-box-shadow: 7px 8px 8px -1px rgba(166, 158, 158, 0.75);
  -moz-box-shadow: 7px 8px 8px -1px rgba(166, 158, 158, 0.75);
  transition: transform 0.3s ease-in-out;
}
.herodeal-img img:hover {
  transform: translateY(-10px);
}
.herodeal-content .herodeal-text {
  width: 35rem;
  height: 34rem;
  position: absolute;
  top: 20%;
  right: 10%;
  /* border: 2px solid green; */
}
.herodeal-content {
  width: 100%;
  height: 100%;
}
/* card css */
.herodeal-card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.herodeal-card-content h2 {
  font-size: 3rem;
  font-family: "Kalam", cursive;
  color: black;
  text-align: center;
  margin: 2rem 0;
}
.herodeal-card-content p {
  font-size: 2rem;
  font-family: "Kalam", cursive;
  color: black;
  margin: 0 3rem;
  text-align: justify;
}
/* image position for even */
.even-image img {
  position: absolute;
  width: 55rem;
  height: 35rem;
  top: 20%;
  right: 15%;
  border-radius: 10px;
  box-shadow: 7px 8px 8px -1px rgba(166, 158, 158, 0.75);
  -webkit-box-shadow: 7px 8px 8px -1px rgba(166, 158, 158, 0.75);
  -moz-box-shadow: 7px 8px 8px -1px rgba(166, 158, 158, 0.75);
  transition: transform 0.3s ease-in-out;
}
.even-image img:hover {
  transform: translateY(-10px);
}
.herodeal-content .herodeal-text {
  width: 35rem;
  height: 34rem;
  position: absolute;
  top: 20%;
  right: 10%;
  /* border: 2px solid green; */
}
.herodeal-text-even {
  width: 35rem;
  height: 34rem;
  position: absolute;
  top: 20%;
  left: 10%;
}
