.hero-deal-section .herodeal-card-wrapper:nth-child(even):before {
  right: auto;
  left: 60%;
}

.herodeal-card-wrapper {
  /* border: 2px solid green; */
  width: 100%;
  /* height: 900px; */
  background: white;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}
.herodeal-card-wrapper:before {
  content: "";
  background-color: rgba(255, 0, 0, 0.15);
  width: 800px;
  height: 800px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 60%;
  transform: translateY(-50%);
}
.herodeal-card-wrapper.even:before {
  top: 50%;
  left: 60%;
}
.herodeal-img img {
  width: 55rem;
  height: 35rem;
  border-radius: 10px;
  box-shadow: 7px 8px 8px -1px rgba(166, 158, 158, 0.75);
  -webkit-box-shadow: 7px 8px 8px -1px rgba(166, 158, 158, 0.75);
  -moz-box-shadow: 7px 8px 8px -1px rgba(166, 158, 158, 0.75);
  transition: transform 0.3s ease-in-out;
}
.herodeal-img img:hover {
  transform: translateY(-10px);
}
.herodeal-content .herodeal-text {
  width: 35rem;
  height: 34rem;
  position: absolute;
  top: 20%;
  right: 10%;
  /* border: 2px solid green; */
}
.herodeal-content {
  padding: 100px 0px;
  width: 100%;
  height: 100%;
}
/* card css */
.herodeal-card-content {
  margin: 0 0 0 8rem;
}

.herodeal-card-content h2 {
  margin: 0 0px 2rem;
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 600;
  color: black;
  text-align: center;
}
.herodeal-card-content p {
  font-size: 2rem;
  color: black;
  text-align: justify;
  line-height: 3rem;
}
.hero-deal-section
  .herodeal-card-wrapper:nth-child(even)
  .herodealCard
  .herodeal-card-content {
  margin: 0 8rem 0 0;
}
.heroDealImgWrap {
}
.heroDealImgWrap {
  position: relative;
  width: 55rem;
  z-index: 1;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  line-height: 0px;
}
.heroDealImgWrap img {
  height: 100%;
}
.hero-deal-section .herodeal-card-wrapper:nth-child(even) .herodeal-content {
  flex-direction: row-reverse;
}
.herodeal-content {
  display: flex;
  align-items: center;
}
