.collection-card-container {
  position: relative;
  margin: 3rem;
}
.collection-card-wrapper {
  width: 35rem;
  height: 35rem;
  overflow: hidden;
}
.collection-card-wrapper:before,
.collection-card-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: rgb(255, 199, 199);
  transition: 0.5s;
  z-index: -1;
}
.collection-card-wrapper:hover:before {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.collection-card-wrapper:hover:after {
  transform: rotate(5deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.collection-card-wrapper .collection-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  filter: brightness(70%);
}

.collection-card-wrapper .collection-details {
  position: absolute;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  height: 6rem;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.collection-card-wrapper .collection-details span:nth-child(1) {
  font-size: 2.3rem;
  font-weight: 500;
}
.collection-card-wrapper .collection-details span:nth-child(2) {
  font-size: 1.5rem;
}
