.getapp-container .getapp-wrapper {
  display: flex;
  width: 90%;
  margin: 5rem auto;
}
.getapp-container .getapp-wrapper .getapp-content {
  display: flex;
  flex-direction: column;
}
.getapp-container .getapp-wrapper .getapp-content {
  margin: auto;
}
.getapp-container .getapp-wrapper .getapp-content .getapp-heading {
  font-size: 5rem;
  line-height: 8rem;
}
.getapp-container .getapp-wrapper .getapp-content .getapp-text {
  font-size: 2rem;
  line-height: 4rem;
}
.getapp-container .getapp-wrapper .getapp-content .getapp-icon {
  display: flex;
  width: 20rem;
}
.getapp-container .getapp-wrapper .getapp-content .getapp-icon img {
  margin: 3rem 3rem 0 0;
}
.getapp-container .getapp-wrapper .getapp-img {
  margin: 0 auto;
}
/* .getapp-img {
  width: 5rem
} */

@media only screen and (max-width: 767px) {
  .getapp-wrapper {
    display: flex;
  }
  .getapp-content {
    flex: 1;
  }
  .getapp-img {
    flex: 1;
  }
  .getapp-container .getapp-wrapper .getapp-content .getapp-heading {
    font-size: 2.5rem;
    line-height: 5rem;
  }
  .getapp-container .getapp-wrapper .getapp-content .getapp-text {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .getapp-icon {
    flex-direction: column;
  }
  .getapp-container .getapp-wrapper .getapp-content .getapp-icon img {
    margin: 0;
    width: 15rem;
    margin-top: 1rem;
  }
  .getapp-container .getapp-wrapper .getapp-img .getapp-img-mobile {
    width: 100%;
    height: 100%;
  }
}
