.hero {
  position: absolute;
  top: 0;
  width: 100%;
}

.hero-img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  filter: brightness(50%) blur(1px);
}
.hero-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 7rem;
}
.hero-content-text {
  margin-left: 7rem;
}
.hero-content-img img {
  width: 40rem;
  height: 40rem;
  margin-right: 7rem;
}
