.home {
  display: flex;
  flex-direction: column;
}

.hero-brands {
  width: 100%;
}
/* choice section start here */
.hero-choice-section {
  width: 100%;
  padding: 2rem;
}
.choice {
  display: flex;
  justify-content: space-around;
}
