.home {
  display: flex;
  flex-direction: column;
}

/* choice section start here */
.hero-choice-section {
  width: 100%;
  padding: 0 2rem;
  margin: 8rem auto;
}
.choice {
  display: flex;
  justify-content: space-around;
}

/* popular-item */
.popular-item {
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 50%,
    rgb(251, 205, 205) 80%,
    rgb(251, 205, 205) 100%
  );
}

.popular-item .popular-Sweet {
  padding: 5rem 0 7rem 0;
}

.popular-item .popular-items {
  padding: 5rem 0 7rem 0;
}

/* Location */
.hero-location-section {
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 50%,
    rgb(251, 205, 205) 80%,
    rgb(251, 205, 205) 100%
  );
}
.hero-location-section .location,
.hero-location-text,
.hero-restaurant-button {
  width: 80%;
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  align-items: center;
}

.hero-location-section .location {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.hero-location-text {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.location-button {
  justify-content: center;
}
.button-invisible {
  visibility: hidden;
}

/* faq-section */
.faq-section {
  width: 100%;
}

.question-heading {
  width: 80%;
  margin: 5rem auto 2rem auto;
}

/* Get App */
.hero-getapp-section {
  width: 100%;
  background: linear-gradient(
    to left,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 50%,
    rgb(251, 205, 205) 80%,
    rgb(251, 205, 205) 100%
  );
}
.footer {
  background-color: black;
}

@media only screen and (max-width: 767px) {
  /* choise section */
  .choice {
    display: flex;
    flex-direction: column;
  }
  .hero-choice-section {
    margin: 2rem auto;
  }
  /* popular item */

  .popular-item {
    background: linear-gradient(
      to right,
      rgb(255, 255, 255) 0%,
      rgb(255, 255, 255) 50%,
      rgb(251, 205, 205) 50%,
      rgb(251, 205, 205) 100%
    );
  }
  .popular-item .popular-Sweet {
    padding: 5rem 0 4rem 0;
  }

  .popular-item .popular-items {
    padding: 5rem 0 4rem 0;
  }
  /* location */
  .hero-location-section {
    background: linear-gradient(
      to right,
      rgb(251, 205, 205) 0%,
      rgb(251, 205, 205) 50%,
      rgb(255, 255, 255) 50%,
      rgb(255, 255, 255) 100%
    );
  }
  .hero-location-section .location {
    grid-template-columns: repeat(1, 1fr);
  }
  /* footer */
  .hero-getapp-section {
    width: 100%;
    background: linear-gradient(
      to left,
      rgb(255, 255, 255) 0%,
      rgb(255, 255, 255) 50%,
      rgb(251, 205, 205) 80%,
      rgb(251, 205, 205) 100%
    );
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-location-section .location {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .choice {
    display: flex;
    flex-direction: column;
  }
  .hero-choice-section {
    margin: 2rem auto;
  }
}
