.navbar {
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7rem;
  z-index: 1000;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar .nav-app {
  margin: 0 2rem;
  font-weight: bold;
}
.navbar .nav-menu {
  display: flex;
  flex-direction: row;
  margin-right: 4rem;
}
.nav-menu-ul {
  display: flex;
  flex-direction: row;
  margin: 0 2rem;
  gap: 2rem;
}
.nav_toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: black;
  transition: 0.4s ease-in;
}
.nav_toggler {
  cursor: pointer;
  display: none;
}

.cart-length {
  background-color: #ff5722;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 2px 8px;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  right: 4.4rem;
}

.hero {
  background-image: url("../assests/bg.avif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/* hero-after navbar */
.hero {
  height: 100vh; /* Set a height for the parent container */
}
.hero Button {
  padding: 10px 20px;
  margin: auto;
}
.hero Button:hover {
  padding: 10px 20px;
  margin: auto;
  transform: scale(1.02);
}
.hero-content {
  height: 100%; /* Occupy the full height of the parent */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hero-content-text {
  margin-left: 7rem;
}
.hero-content-img {
  width: 40rem;
  height: 40rem;
  margin-right: 10rem;
  overflow: inline-block;
  display: block;
  transition: transform 3s;
}
.hero-content-img img {
  width: 100%;
  height: 100%;
}
.hero-content-img:hover {
  transform: rotate(270deg);
}

@media screen and (max-width: 768px) {
  .nav_toggler {
    display: block;
  }
  .nav-menu-ul {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 50vh;
    background: red;
    margin: 0;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
  .navbar .nav-menu .nav-menu-ul li:nth-child(1) {
    margin-top: 4rem;
  }
  .nav-menu .nav_toggler {
    z-index: 999;
  }
}

/* Nav Active Class */
.nav-active {
  transform: translateX(0);
}

/* Toggler Icon Animation */
.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}
