.container {
  box-sizing: content-box; /* Ensure that it's set to content-box */
  width: 80% !important;
}

.slider-heading {
  margin-bottom: 2rem;
}
.slider-button {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.slider-button div {
  margin-right: 1rem;
}

.card {
  height: 35rem;
  margin: 0 1rem;
  transition: transform 0.5s ease;
  border-radius: 10px;
  background: rgb(255, 194, 194);
}
.card:hover {
  transform: translateY(5px);
}
.card .slider-img img {
  max-width: 100%;
  width: 100%;
  height: 19rem;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.slider-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
}
.slider-info h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 1rem;
}
.slider-info h3 {
  font-size: 1.5rem;
  font-weight: 300;
}
Button {
  margin: 1rem auto;
}
