.updateform-heading {
  display: flex;
}

form div {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
form div label {
  font-size: 1.3rem;
  margin: 0.3rem;
}

form div select {
  font-size: 1.6rem;
  padding: 0.5rem;
}
form div input {
  font-size: 1.6rem;
  padding: 0.7rem;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 5px;
}
.userprofile-button Button {
  width: 15rem;
}
.userprofile-button {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}
