*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  /* overflow-x: hidden; */
}
html {
  font-size: 62.5%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 6rem;
  color: #fff;
}
h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
  font-weight: 400;
}
h2,
h3,
h4,
p {
  color: #fff;
}

:root {
}
