*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  /* overflow-x: hidden; */
}
html {
  font-size: 62.5%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 6rem;
  color: #fff;
  font-weight: 500;
}
h2 {
  font-size: 3rem;
  font-weight: 400;
}
h2,
h3,
h4,
p {
  color: black;
}
li {
  color: black;
}
/* :root {
} */
p {
  margin: 0px;
}
img {
  width: 100%;
  max-width: 100%;
}

.container {
  margin: 0px auto;
  position: relative;
  width: 1200px;
}
.page-wrapper {
  margin-top: 7rem;
}
.active {
  color: rgb(255, 92, 92);
  font-weight: 500;
}
.app-link {
  text-decoration: none;
}

/* Custom CSS to change toast font */
.Toastify__toast {
  font-size: 1.5rem;
}
